body{

    background-image: url('background.png'); /* path or URL to your image */
  background-size: cover;     /* make it cover the entire page */
  background-repeat: no-repeat; /* prevent tiling */
  background-position: center center; /* center the image */
  height: 100vh; /* ensure body takes full viewport height */
  margin: 0;     /* remove default margin */
}

.pole {
  position: relative;
  width: 7px;
  height: 460px;
 
  margin: 30px auto;
}

#button{
    position: fixed;
    right: 200px;
    top: 60px;
    background-color: #e50303;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    border-radius: 10px;
     transition: transform 0.3s ease, background-color 0.3s ease;
}
button:hover{
    background-color: rgb(61, 105, 248);
    
    transform: scale(1.1);
}
#flag {
  position: absolute;
  bottom: 0;
  top: 480px;
  left: 15px;
  transition: top 4s ease-in-out, width 2s ease-in-out;
}

@keyframes unfoldFlag {
  0% { width: 15px; }
  100% { width: 160px; }
}

.unfold-animate {
  animation: unfoldFlag 3s forwards ease-in-out, clothWave 1.5s 3s infinite ease-in-out;

}

